manifest {
    name            = 'ProteoRunners'
    author          = 'rodvrees'
    homePage        = 'https://github.com/ProteoBench/ProteoRunners'
    description     = 'Nextflow pipeline running DIA-NN, AlphaDIA, Sage, FragPipe, MaxQuant, and MetaMorpheus on ProteoBench benchmark datasets.'
    mainScript      = 'proteobench.nf'
    nextflowVersion = '>=23.10'
    version         = '1.0.3'
}
